.DND-container {
    background-color: #D2E3C8;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding:2em 0;
}

.DND-container h1 {
    color: #4F6F52;
}

.DND-Wrapper {
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 10px;
    width: 70%;
    min-height: 80%;
}

.courseDetails {
    background-color: white;
    display: flex;
    box-shadow: 10px 5px 5px aliceblue;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor:grab
}

.individualCourseDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.course-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.course-price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.course-type {
    background-color: #DBFFCE;
    border: 0.2px solid #7E7E7E;
    padding: 3px;
    border-radius: 8px;
}